body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

nav{
    color: white;
    display: flex;
    background-image: url(https://i.pinimg.com/originals/08/36/48/0836483abf1f3a6081988c06255b75e3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: auto;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
nav ul li{
    display: inline-block;
    margin: 20px 20px;
    
}
nav ul{
    display: flex;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 20px;
}
.black{
        margin: 40px 70px;
        font-size: 20px;
}

#middle{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: white;
}
#middle h1{
    font-size: 70px;
}
#middle p{
    margin: 20px 0;
}

#middle button{
    width: 200px;
    padding: 15px;
    margin: 20px 25px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(27, 24, 216);
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}